body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2e3b4e;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #6c6d70;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
}
.search {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search input {
    width: 250px;
    height: 24px;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}

.search button {
    background-color: #00b2ff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.1s ease;
}
.search button:hover {
    background-color: #0092d1;
    transform: scale(1.03);
}

main {
    display: flex;
    height: calc(100vh - 50px);
}

nav {
    width: 200px;
    background-color: #5a5b5e;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    transition: all 0.3s ease;
}

nav h3 {
    margin-bottom: 10px;
    font-size: 16px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 4px;
}

nav a:hover {
    background-color: #1f2a3c;
}

.container {
    padding: 40px;
    max-width: 900px;
}

.titulo-box {
    background: #3A3A3A;
    display: inline-block;
    padding: 12px 25px;
    border-radius: 4px;
    font-weight: bold;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 6px;
    font-size: 16px;
}

select, input, textarea {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background: #CFCFCF;
    font-size: 15px;
    color: #333;
}

textarea {
    width: 90%;
    height: 150px;
    resize: none;
}

.btn-add {
    margin-top: 10px;
    background: #777;
    border: none;
    padding: 10px 16px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.btn-area {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.btn-exit {
    background: #EF3C3C;
    border: none;
    padding: 12px 28px;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}

.btn-finish {
    background: #02C8DD;
    border: none;
    padding: 12px 28px;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}