* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #2e3b4e;
    color: white;
}

header {
    background-color: #6c6d70;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
}
.search {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search input {
    width: 250px;
    height: 24px;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}

.search button {
    background-color: #00b2ff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.1s ease;
}
.search button:hover {
    background-color: #0092d1;
    transform: scale(1.03);
}

main {
    display: flex;
    height: calc(100vh - 50px);
}


nav {
    width: 200px;
    background-color: #5a5b5e;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    transition: all 0.3s ease;
}

nav h3 {
    margin-bottom: 10px;
    font-size: 16px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 4px;
}

nav a:hover {
    background-color: #1f2a3c;
}
section {
    flex: 1;
    background-color: #1f2a3c;
    padding: 20px;
    overflow-y: auto;
}

section ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

section li {
    background-color: #2a3b5b;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    flex-wrap: wrap;
}

section li span {
    flex: 1;
    text-align: center;
}
section li button {
    background-color: #00b2ff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.1s ease;
}
section li button:hover {
    background-color: #0092d1;
    transform: scale(1.03);
}
