body{
    background-color: #182F4D;
    font-size: 100%;
}
main {
    display: flex;
    justify-content: center;
    padding-top: 15%;
}
form{
    background: linear-gradient(to right, #000000, #3533cd);
    padding: 2%;
    border-radius: 20px;
    padding: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: white;
}
button{
    color: white;
    background-color: #00BF63;
    font-size: 1.7rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 20px;
    border-style: none;
}
input{
    font-size: 1.5rem;
    border-radius: 10px;
    border-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem;
}